
<div class="with-sidebar">
	<aside class="sidebar" id="sidebar">
      <ul>
		{% for item in form_liste %}
		<li>
			<a href="#" hx-get="{% url item.key|add:'_form'  %}" 
				hx-target="#htmx-inner-content" hx-swap="beforeend">
				{{ item.label }}
				{{forloop.counter0}}
			</a>
		</li>
	{% endfor %}
		  </ul>
    </aside>

    <div class="inner-content" id="htmx-inner-content">
		{% for item in form_liste %}
		{%include 'inner_form.html' with form=item.form item_key=item.key form_nr=forloop.counter0 %}
		{%endfor%}
    </div>
  </div>