{% extends base %}
{% block content %}

<div class="with-sidebar vorgang_neu flex flex-col md:flex-row">
	<aside class="sidebar md:fixed" id="sidebar">
		<div class="radio-button-group">
			<div>
				<input hx-get="/vorgang/edit/{{vorgang_id}}/1/" hx-target="#htmx-content" hx-push-url="true" type="radio" name="radio-group"  {% if type_nr == 1 %}checked{% endif %}>
				<label for="option1" class="button">Beratung</label>
			</div>
			<div>
				<input hx-get="/vorgang/edit/{{vorgang_id}}/2/" hx-target="#htmx-content" hx-push-url="true" type="radio" name="radio-group"  {% if type_nr == 2 %}checked{% endif %}>
				<label for="option1" class="button">Meldung</label>
			</div>
			<div>
				<input hx-get="/vorgang/edit/{{vorgang_id}}/3/" hx-target="#htmx-content" hx-push-url="true" type="radio" name="radio-group"  {% if type_nr == 3 %}checked{% endif %}>
				<label for="option2" class="button">Fallbetreuung</label>
			</div>
		</div>
		<ul class="hidden md:block">
			{% for item in form_liste %}
			<li>
				<a href="#form-{{ item.key }}" 
					id="nav-{{ item.key }}"
					onclick="setActive(this)">
					{{ item.label }}
				</a>
			</li>
			{% endfor %}
		</ul>
    </aside>

    <div class="inner-content" id="htmx-inner-content" >
		{% for item in form_liste %}		
			<div id="form-{{ item.key }}" class="form-container md:pt-24 md:-mt-16" hx-get="{% url 'create_'|add:item.key %}?id={{form.instance.id}}&vorgang_id={{vorgang_id}}&&type_nr={{type_nr}}"
			hx-trigger="load once">	
			<div class="form-placeholder">{{vorgang_id}}</div>
			</div>
			{% if not forloop.last %} <!-- Füge hr nur hinzu, wenn es nicht das letzte Element ist -->
			<hr class="h-1 mt-6 bg-gray-300 lg:w-[73%] ml-auto">
			{% endif %}
		{% endfor %}
		<div class="min-h-64 flex flex-row justify-end items-start">
			<button hx-get="/vorgang/detail/{{vorgang_id}}" hx-target="#htmx-content" class="button p-2">zur Vorgangs Ansicht</button>
		</div>
    </div>
</div>


<script>
	function initializeObserver() {
		// Intersection Observer setup
		const formContainers = document.querySelectorAll('.form-container');
		console.log("INITIALIZE OBSERVER");
		// Minimale Sichtbarkeit, die ein Container haben muss
		const MIN_VISIBILITY = 0.0001;
		let stillVisibleEntry = null;
		let activeEntry = null;
    
		const observerOptions = {
			root: null,
			// Positive rootMargin oben für früheres Triggern
			rootMargin: '-10% 0px -89% 0px',
			// Dichteres Schwellenwert-Array für genauere Beobachtung
			threshold: [0.0001]
		};
		const observer = new IntersectionObserver((entries) => {
			// Nur Einträge berücksichtigen, die wirklich sichtbar sind
			for (const entry of entries) {
				console.log(`observe: ${entry.target.id} (Ratio: ${entry.intersectionRatio.toFixed(2)}, Top: ${entry.boundingClientRect.top}px)`);
				if(entry.intersectionRatio >= MIN_VISIBILITY) { // entry wird sichtbar
					stillVisibleEntry = activeEntry
					activeEntry = entry;
					setActive(matchingNavElement(activeEntry));
					console.log(`Aktiviere 1: ${activeEntry.target.id} (Ratio: ${activeEntry.intersectionRatio.toFixed(2)}, Top: ${activeEntry.boundingClientRect.top}px)`);
				}else if(activeEntry == entry && stillVisibleEntry != null){ // activer entry wird unsichtbar bevor ein neuer sichtbar wird
					activeEntry = stillVisibleEntry
					setActive(matchingNavElement(activeEntry));
					console.log(`Aktiviere 2: ${activeEntry.target.id} (Ratio: ${activeEntry.intersectionRatio.toFixed(2)}, Top: ${activeEntry.boundingClientRect.top}px)`);
				}else if(stillVisibleEntry == entry){ // entry war der letzte sichtbare entry
					stillVisibleEntry = null;
				}
	
			}
		}, observerOptions);

		formContainers.forEach(container => observer.observe(container));

		// Markiere den ersten Anker-Tag als aktiv
		document.querySelectorAll('.sidebar a')[0].classList.add('active');
		return observer;
	}

	function handleInputChange(event) {
		const inputElement = event.target;
		inputElement.classList.add('edited'); // Fügen Sie die gewünschte Klasse hinzu
	}
	function matchingNavElement(activeEntry){
		const formId = activeEntry.target.id;
		const navId = 'nav-' + formId.split('-')[1];
		return document.getElementById(navId);
	}

	function setActive(element) {
		const currentActive = document.querySelector('.sidebar a.active');
		if (!currentActive || currentActive.id !== element.id) {
			// Entferne die Klasse 'active' von allen Links
			var links = document.querySelectorAll('a[id^="nav-"]');
			links.forEach(function(link) {
				link.classList.remove('active');
			});
			// Füge die Klasse 'active' zum angeklickten Link hinzu
			element.classList.add('active');
		}
	}
	initializeObserver()

// Event Listener for htmx:afterSwap
  document.body.addEventListener('htmx:afterSwap', function(event) {
	// Event Listener for input fields
	const inputFields = document.querySelectorAll('input, textarea, select');
	inputFields.forEach(input => {
	input.addEventListener('input', handleInputChange);
	});
    
  });
  </script>
{% endblock %}
