{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <script
      src="https://unpkg.com/htmx.org@2.0.2"
      integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
      crossorigin="anonymous"
    ></script>
    {% block additional_js %}
	{% endblock %}
	{% block additional_css %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
    />
  </head>
  <body>
    <div class="header">
      <div class="container">
        {% include 'header.html' %}
      </div>
    </div>
	<main>
    <div id="htmx-content" class="container">
        {% block content %}
        <!-- Inhalte der Unterseiten werden hier eingefügt -->
        {% endblock %}
    </div>
  </main>
  <footer>
    {% include 'footer.html' %}
  </footer>
</body>
  
</html>


