{% load static %}
<nav>
<ul>
	<li><a href="/"><img src="{% static 'logo/logo_rund.svg' %}" alt="Logo" /></li></a>
</ul>
<ul class="sticky">
	<li>
		<a href="/vorgang/meine_liste/" hx-get="/vorgang/meine_liste/"
		hx-target="#htmx-content"
		hx-swap="innerHTML"
		hx-push-url="true">Meine Vorgänge</a>
	</li>

	<li>
		<a href="/vorgang/liste/" hx-get="/vorgang/liste/"
		hx-target="#htmx-content"
		hx-swap="innerHTML"
		hx-push-url="true">Vorgänge</a>
	</li>
	<li>
		<a href="/vorgang/neu/" hx-get="/vorgang/neu/"
		hx-target="#htmx-content"
		hx-swap="innerHTML"
		hx-push-url="true">
	   Neuen Vorgang erstellen
	 </a>	
	</li>
	<li>
		<a href="/aggregation"
		hx-get="/aggregation"
		hx-target="#htmx-content"
		hx-swap="innerHTML"
		hx-push-url="true">
			Diagramme
		</a>
	</li>
    {% if user.is_authenticated %}
      <li>
        <span>{{ user.username }}</span>
      </li>
      <li>
        <a href="/logout">Abmelden</a>
      </li>
    {% else %}
      <li>
        <a href="/login">Anmelden</a>
      </li>
    {% endif %}</ul>
</nav>
