<form class="inner-form-loesung" id="{{item_key}}_form" hx-post="{% url 'create_'|add:item_key %}?id={{form.instance.id}}&vorgang_id={{vorgang_id}}" 
  hx-trigger="change delay:1000ms" hx-swap="outerHTML">
  {% csrf_token %}

  {% for field in form %}
    {% if field.name != 'loesungsansaetze_bemerkung' %}
      <div class="flex flex-col lg:flex-row custom-checkbox-row mb-2">
        <label class="basis-1/4 lg:text-right mr-4"> {{ field.label }} </label>
        <div class="basis-3/4 flex flex-wrap gap-2 button-row">
          {% for checkbox in field %}
            <div class="flex">
              {{ checkbox }}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endfor %}

  <div class="flex flex-col lg:flex-row">
    <label class="basis-1/4 lg:text-right mr-4"> {{ form.loesungsansaetze_bemerkung.label }} </label>
    <span class="basis-3/4">
    {{ form.loesungsansaetze_bemerkung }}
    </span>
  </div>

    </div>
  </div>
</form>
