<label class="lg:hidden"><b>Verursacher</b></label>
<div class="flex">
	<label class="basis-1/4 mr-4 lg:text-right hidden lg:block"><b>Verursacher</b></label>
	<label class="basis-1/4">Unternehmenstyp</label>
	<label class="basis-1/4 ml-4">Personentyp</label>
</div>

{% for form in forms %}
	{% include 'inner_form_one_verursacher.html' with form=form item_key=item_key vorgang_id=vorgang_id %}
{% endfor %}
<div class="w-1/4 flex justify-end">
	<button class="btn btn-primary px-2" hx-get="{% url 'add_verursacher' %}?vorgang_id={{vorgang_id}}" hx-target="#form-verursacher">Verursacher hinzufügen</button>
</div>
