{% load widget_tweaks %}

<form class="inner-form-person" id="{{item_key}}_form" hx-post="{% url 'create_'|add:item_key %}?id={{form.instance.id}}&vorgang_id={{vorgang_id}}&type_nr={{type_nr}}" 
  hx-trigger="focusout, click from:#submit-all" hx-swap="morph:outerHTML">
  {% csrf_token %}


{% for field in form %}
  {% if field.name != 'diskriminierungsform' and field.name != "andere_diskriminierungsform" and not field.is_hidden %}
    <div id="{{field.name}}_div" class="flex flex-col lg:flex-row" >
      <label class="basis-1/4 lg:text-right mr-4"> {{ field.label }} </label>
      <span class="basis-3/4">
          {{ field }}
      </span>
    </div>
  {% endif %}
{% endfor %}


  <div class="flex flex-col lg:flex-row custom-checkbox-row mb-2">
    <label class="basis-1/4 lg:text-right mr-4"> {{ form.diskriminierungsform.label }} </label>
    <div class="basis-3/4 flex flex-wrap gap-2 button-row">
      {% for checkbox in form.diskriminierungsform %}
        <div class="flex">
          {{ checkbox }}
        </div>
      {% endfor %}
    </div>
  </div>

  {% if not form.andere_diskriminierungsform.is_hidden %}
  <div class="flex flex-col lg:flex-row">
    <label class="basis-1/4 lg:text-right mr-4"> {{ form.andere_diskriminierungsform.label }} </label>
    <span class="basis-3/4">
    {{ form.andere_diskriminierungsform }}
    </span>
  </div>
  {% endif %}

  </div>
</form>
