<form class="inner-form-ergebnis" id="{{item_key}}_form" hx-post="{% url 'create_'|add:item_key %}?id={{form.instance.id}}&vorgang_id={{vorgang_id}}" 
  hx-trigger="change delay:1000ms" hx-swap="outerHTML">
  {% csrf_token %}

  <div class="flex custom-checkbox-row mb-2">
    <label class="basis-1/4 text-right mr-4"> {{ form.ergebnis.label }} </label>
    <div class="basis-3/4 flex flex-wrap gap-2 button-row">
      {% for checkbox in form.ergebnis %}
        <div class="flex">
          {{ checkbox }}
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="flex">
    <label class="basis-1/4 text-right mr-4"> {{ form.ergebnis_bemerkung.label }} </label>
    <span class="basis-3/4">
    {{ form.ergebnis_bemerkung }}
    </span>
  </div>
</form>
