{% extends layout %}
{% load custom_filters %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<div>
    <div class="content">
        <div class="flex gap-2">
            <input hx-get="/vorgang/liste/?{{request.META.QUERY_STRING}}" hx-target="#htmx-content" name="freitextsuche" placeholder="freitext" class="basis-1/3"></input>            
            <select class="basis-1/3 p-2 bg-white h-12" hx-get="{% url 'such_feld' %}?{{request.META.QUERY_STRING}}" hx-target="#such-input-feld" name="meta.feld_name">
                <option value="fallnummer">Fallnummer</option>
                <option value="sprache_item">Sprache</option>
                <option value="bezirk_item">Bezirk</option>
            </select>
            <span id="such-input-feld" class="basis-1/3">
                {% include 'such_input_feld.html' with name="fallnummer" %}
            </span>
        </div>
        <div class="flex gap-2">
            {% for key, value in request.GET.items %}
                {% if key|slice:"5" == 'suche' or key == "sort_by" or key == "freitextsuche" %}
                    <button class="w-auto cursor-pointer rounded-lg border-2 py-1 px-4  text-black-200 border-black whitespace-nowrap" >{{ key }}:{{ value }}<a hx-target="#htmx-content" hx-get="{% url callback_name %}?{{ request.GET|params_minus:key }}"> x</a> </button>
                {% endif %}
            {% endfor %}
            <button class="w-auto cursor-pointer rounded-lg border-2 py-1 px-4  text-black-200 border-black whitespace-nowrap" type="button" hx-get="{% url callback_name %}" hx-target="#htmx-content" >reset all</button>
        </div>

        {% if vorgang_liste %}
            <table>
                <thead>
                    <tr>
                        <th><a href="#" hx-target="#htmx-content" hx-get="{% url callback_name %}?{% params_plus request.GET 'sort_by' 'fallnummer' %}">Vorgang</a></th>
                        <th><a href="#" hx-target="#htmx-content" hx-get="{% url callback_name %}?{% params_plus request.GET 'sort_by' 'bezirk' %}">Bezirk</a></th>
                        <th><a href="#" hx-target="#htmx-content" hx-get="{% url callback_name %}?{% params_plus request.GET 'sort_by' 'sprache' %}">Sprache</a></th>
                        <th><a href="#" hx-target="#htmx-content" hx-get="{% url callback_name %}?{% params_plus request.GET 'sort_by' 'vorgangstyp' %}">Vorgangstyp</a></th>
                        <th><a href="#" hx-target="#htmx-content" hx-get="{% url callback_name %}?{% params_plus request.GET 'sort_by' 'datum_kontaktaufnahme' %}">Datum Kontaktaufnahme</a></th>
                        <th>Aktionen</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vorgang in vorgang_liste %}
                        <tr>
                            <td>{{ vorgang.fallnummer }}</td>
                            <td>{{ vorgang.bezirk }}</td>
                            <td>{{ vorgang.sprache }}</td>
                            <td>{{ vorgang.vorgangstyp }}</td>
                            <td>{{ vorgang.datum_kontaktaufnahme|date:"d.m.Y" }}</td>
                            <td>
                                <a href="{% url 'vorgang_detail' vorgang.id %}" hx-get="{% url 'vorgang_detail' vorgang.id %}" hx-push-url="true" hx-target="#htmx-content">Details</a> | 
                                <a href="{% url 'vorgang_bearbeiten' vorgang.id vorgang.vorgangstyp.id %}" hx-get="{% url 'vorgang_bearbeiten' vorgang.id vorgang.vorgangstyp.id %}" hx-push-url="true" hx-target="#htmx-content">Edit</a> | 
                                <a href="#" hx-get="{% url 'delete_vorgang' vorgang.id %}" hx-target="#htmx-content" hx-trigger='confirmed'
                                        onClick="Swal.fire({title: 'Bestätigung erforderlich', text:'Vorgang wirklich löschen?'}).then((result)=>{
                                            if(result.isConfirmed){
                                              htmx.trigger(this, 'confirmed');  
                                            } 
                                        })">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- Pagination -->
            <div class="pagination">
                <span class="step-links">
                    {% if vorgang_liste.has_previous %}
                        <a href="#" hx-get="{% url callback_name %}?{% params_plus request.GET 'page' 1 %}" hx-target="#htmx-content">&laquo; </a>
                        <a href="#" hx-get="{% url callback_name %}?{% params_plus request.GET 'page' vorgang_liste.previous_page_number %}" hx-target="#htmx-content">&lsaquo;</a>
                    {% endif %}

                    <span class="current">
                        | {{ vorgang_liste.number }} / {{ vorgang_liste.paginator.num_pages }} |
                    </span>

                    {% if vorgang_liste.has_next %}
                        <a href="#" hx-get="{% url callback_name %}?{% params_plus request.GET 'page' vorgang_liste.next_page_number %}" hx-target="#htmx-content">&rsaquo; </a>
                        <a href="#" hx-get="{% url callback_name %}?{% params_plus request.GET 'page' vorgang_liste.paginator.num_pages %}" hx-target="#htmx-content"> &raquo;</a>
                    {% endif %}
                </span>
            </div>git 
        {% else %}
            <p>Es sind keine Vorgänge vorhanden.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
