{% extends layout %}
{% block content %}
{% load custom_filters %}
<h1>Vorgang Detailansicht</h1>
<table>
    {% for field in normal_fields %}
        {% with field_label=field_labels|get_item:field %}
            {% if vorgang|attribute:field %}
                <tr>
                    <td>{{ field_label|default:field }}</td>
                    <td>{{ vorgang|attribute:field }}</td>
                </tr>
            {% endif %}
        {% endwith %}
    {% endfor %}

    {% for field in mm_fields %}
        {% with field_label=field_labels|get_item:field %}
            {% if vorgang|attribute:field %}
                <tr>
                    <td>{{ field_label|default:field }}</td>
                    <td>
                        {% for related_item in vorgang|attribute:field %}
                            {{ related_item }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
        {% endwith %}
    {% endfor %}

    {# Extra fields #}
    {% if beschw_frist %}
        <tr>
            <td>{{ field_labels.beschw_frist|default:"Beschwerde Frist" }}</td>
            <td>{{ beschw_frist }}</td>
        </tr>
    {% endif %}
    {% if klage_frist %}
        <tr>
            <td>{{ field_labels.klage_frist|default:"Klagefrist" }}</td>
            <td>{{ klage_frist }}</td>
        </tr>
    {% endif %}
    {% if strafan_frist %}
        <tr>
            <td>{{ field_labels.strafan_frist|default:"Strafantragsfrist" }}</td>
            <td>{{ strafan_frist }}</td>
        </tr>
    {% endif %}

    {# Metadata fields not included automatically #}
    <tr>
        <td>{{ field_labels.created_by|default:"Erstellt von" }}</td>
        <td>{{ vorgang.created_by.username }}</td>
    </tr>
    <tr>
        <td>{{ field_labels.created|default:"Erstellt am" }}</td>
        <td>{{ vorgang.created }}</td>
    </tr>
    <tr>
        <td>{{ field_labels.modified|default:"Geändert am" }}</td>
        <td>{{ vorgang.modified }}</td>
    </tr>
</table>
{% endblock %}
