{% extends base %}
{% load static %}

{% block additional_css %}
  <link rel="stylesheet" href="{% static 'css/aggregation.css' %}" />
{% endblock %}

{% block content %}
<div class="with-sidebar flex flex-col md:flex-row">
<aside class="sidebar md:fixed" id="sidebar">
  <div>
    <label for="von">Von:</label>
    <div id="disbale_year"
    hx-get="/aggregation/disable_year/"
    hx-target="#bis"
    hx-swap="innerHTML"
    hx-include="#von"
    >
    <select id="von" name="von"
    hx-get="/aggregation/get_chart/"
    hx-target="#chart-container"
    hx-include="#bis, #chart-select"
    >
      {% for year in years %}
        <option value="{{ year }}" {% if forloop.first %}selected{% endif %} >{{ year }}</option>
      {% endfor %}
    </select>
    </div>
    <label for="bis">Bis:</label>
    <select id="bis" name="bis"
    hx-get="/aggregation/get_chart/"
    hx-target="#chart-container"
    hx-include="#von, #chart-select"
    >
      {% for year in years %}
        <option value="{{ year }}" {% if forloop.last %}selected{% endif %} >{{ year }}</option>
      {% endfor %}
    </select>
  </div>
  
  <div>
    <label for="chart-select">Diagramm Auswählen</label>
    <select id="chart-select" name="chart-select" 
    hx-get="/aggregation/get_chart/"
    hx-target="#chart-container"
    hx-include="#von, #bis">
      <option value="">--Select a Chart--</option>
      {% for chart in charts %}
        <option value="{{ chart.id }}">{{ chart.name }}</option>
      {% endfor %}
    </select>
  </div>
  <a href="/aggregation/csv_download/" download="vorgang.csv">Download csv</a>
  <a href="/aggregation/codebook_download/" download="codebook.json">Download codebook</a>
</aside>



    <div class="inner-content" id="chart-container">
      <div class="h-96"></div>
    </div>

  </div>
{% endblock %}
